# Wuhan Outbound Flights - data preprocessing

**Objective**: to visualize the outbound flight and enable in-depth analysis

**Data source**: history.adsbexchange.com 

https://history.adsbexchange.com/downloads/samples/



**DataDictionary**: https://history.adsbexchange.com/datafields/


**Data**: **1st Jan 2020 only** outbound of Wuhan Tianhe Airport (WUH) ( other date will be added in later)

In [1]:
import time
import re
import numpy as np
import pandas as pd
import pickle as pkl
import math
import json
import warnings
import json
import os
import datetime
pd.set_option('display.max_columns',300)
pd.set_option('display.max_rows',300)
warnings.filterwarnings('ignore')

## read data

In [9]:
%%time
filename = '2020-01-01/2020-01-01-0000Z.json'

f = open(filename, 'rb')
json_file = json.load(f)
f.close()

Wall time: 1.12 s

In [5]:
%%time

## load all json file from a directory

all_json_file = []
JSON_DIR = '2020-01-01'

for file in os.listdir(JSON_DIR):
    full_filename = "%s/%s" % (JSON_DIR, file)
    with open(full_filename,'rb') as f:
        json_file = json.load(f)
        all_json_file.append(json_file)
        
        
## take 26 mins on 16GB RAM, i9 machine,  to load all 1440 json file ( 18 GB size)

Wall time: 1min 26s

In [22]:
%%time
final_df = pd.DataFrame()

for i in range(0 , len(all_json_file) ) :
    daily_df = pd.DataFrame(all_json_file[i]['acList']) 
    final_df = final_df.append(daily_df)
    
    
## create dataframe from json data
# df = pd.DataFrame(all_json_file[0]['acList'])

Wall time: 3min 10s

In [23]:
final_df.head()

,Alt,AltT,Bad,CMsgs,CNum,Call,CallSus,Cos,Cou,EngMount,EngType,Engines,FSeen,FlightsCount,From,GAlt,Gnd,HasPic,HasSig,Help,Icao,Id,InHg,Interested,Lat,Long,Man,Mdl,Mil,Mlat,Op,OpIcao,PicX,PicY,PosStale,PosTime,Rcvr,Reg,ResetTrail,Sat,Sig,Spd,SpdTyp,Species,Sqk,Stops,TAlt,TSecs,TT,TTrk,Tag,Tisb,To,Trak,TrkH,Trt,Type,Vsi,VsiT,WTC,Year
0,17125.0,0,False,1,33534,NaN,False,NaN,United States,0,3,2,/Date(1577836821438)/,0,NaN,17125.0,False,False,True,NaN,A76028,10969128,NaN,False,NaN,NaN,Boeing,Boeing 737NG 924ER/W,False,NaN,United Airlines,UAL,NaN,NaN,NaN,NaN,11159,N57439,NaN,NaN,10.0,NaN,0,1,,NaN,NaN,NaN,a,NaN,NaN,False,NaN,NaN,False,1,B739,NaN,0,2,2009
1,NaN,0,False,2,37255,NaN,False,NaN,United Kingdom,0,3,2,/Date(1577836821230)/,0,NaN,NaN,False,False,True,NaN,4067F2,4220914,29.93171,False,NaN,NaN,Boeing,Boeing 737NG 8K5/W,False,NaN,TUI Airways,TOM,NaN,NaN,NaN,NaN,11159,G-TAWO,NaN,NaN,13.0,NaN,0,1,,NaN,36000.0,NaN,a,212.34375,NaN,False,NaN,NaN,False,5,B738,NaN,0,2,2013
2,NaN,0,False,1,262,NaN,False,NaN,United States,0,3,2,/Date(1577836821230)/,0,NaN,NaN,False,False,True,NaN,A373DA,10712026,NaN,False,NaN,NaN,Airbus,Airbus A320 211,False,NaN,Delta Air Lines,DAL,NaN,NaN,NaN,NaN,11159,N321US,NaN,NaN,18.0,436.3,0,1,,NaN,NaN,NaN,a,NaN,NaN,False,NaN,174.1,False,2,A320,-2112.0,1,2,1991
3,NaN,0,False,1,LN105,NaN,False,NaN,United States,0,2,1,/Date(1577836821135)/,0,NaN,NaN,False,False,True,NaN,A694C4,10917060,NaN,False,NaN,NaN,MD Helicopters,MD Helicopters MD 520N,False,NaN,Private,NaN,NaN,NaN,NaN,NaN,11159,N523HB,NaN,NaN,47.0,NaN,0,4,,NaN,NaN,NaN,a,NaN,NaN,False,NaN,NaN,False,1,MD52,NaN,0,1,NaN
4,8050.0,0,False,1,17702657,NaN,False,NaN,United States,0,1,1,/Date(1577836820965)/,0,NaN,8050.0,False,False,True,NaN,A19FBF,10592191,NaN,False,NaN,NaN,Cessna,Cessna 177B Cardinal,False,NaN,Private,NaN,NaN,NaN,NaN,NaN,11159,N20313,NaN,NaN,19.0,NaN,0,1,,NaN,NaN,NaN,a,NaN,NaN,False,NaN,NaN,False,1,C177,NaN,0,1,1977

In [24]:
final_df.shape

(1637322, 61)

In [ ]:
## save file
final_df.to_csv('data/2020-01-01.csv', index = false)